---
name: Publish NuGet package

on:
  release:
    types: [ published ]

jobs:

  publish:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true
      DOTNET_CLI_TELEMETRY_OPTOUT: true

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup .NET Core 6.0.x
        uses: actions/setup-dotnet@v3.0.3
        with:
          dotnet-version: 6.0.x

      - name: Install dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Pack
        run: dotnet pack --configuration Release --no-build --include-symbols --output ./nupkgs

      - name: Archive NuGet artifacts
        uses: actions/upload-artifact@v3
        with:
          name: nuget-packages
          path: ./nupkgs/*.nupkg

      - name: Archive NuGet symbols artifacts
        uses: actions/upload-artifact@v3
        with:
          name: nuget-symbol-packages
          path: ./nupkgs/*.snupkg

      # - name: Push
      #   run: dotnet nuget push './nupkgs/*.nupkg'